* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  display: block;
  background-color: rgb(51 155 255);
  color: white;
  font-size: 64px;
  text-shadow: 2px 2px black;
}

button {
  display: inline-block;
  height: 60px;
  width: 150px;
  border-radius: 10%;
  background-color: white;
  font-size: 16px;
  margin: 5px 10px;
  font-weight: bold;
  font-size: 16px;
}

body {
  background-color: #32363c;
}

#buttons {
  width: 100%;
  text-align: center;
}

#buttons2 {
  width: 100%;
  text-align: center;
}

#grid-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  border: solid;
  border-color: black;
  margin: 20px 5% 10px 5%;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  width: 700px;
}

.grid-segment {
  display: inline-block;
  flex: auto;
  border: solid 0.5px lightgrey;
  transition: 0.3s;
}

#rainbow {
  background-image: linear-gradient(to right, red, orange, yellow, lightgreen, skyblue, mediumpurple, violet);
  color: black;
}

#greyscale{
  background-image: linear-gradient(black, dimgrey, grey, lightgrey, white)
}

#black {
  background-color: black;
  color: white;
}

#clear{

}

#erase{

}

#lines{

}
